article{
    margin-left: auto;
    margin-right: auto;
    height:100%;
    width:100%;
    text-align: center;
    position:relative;
    z-index: 1;

}
/*http://3.bp.blogspot.com/-3aaA2IVu4HA/UbSK-acWiEI/AAAAAAAAABY/yHv9c5nd81g/s1600/j.png*/
article:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    z-index: -1;
    background: url(http://3.bp.blogspot.com/-3aaA2IVu4HA/UbSK-acWiEI/AAAAAAAAABY/yHv9c5nd81g/s1600/j.png);
}

/*=========================================================*/




/*=========================================================*/

button{
    margin-top:75px;
    margin-right:30px;
    margin-left:30px;
    width:200px;
}