#cmdNewList, #mainPage{
    font-size:20px;
    width:270px;
    height:60px;
    margin-right: auto;
    margin-left: auto;
    margin-top:70px;
    background-color: #ccbfaf;
    font-weight: bold;
    color:#104e8b;
    font-family: Rockwell;
    text-transform: uppercase;
    display: inline-block;
}



table{
    border-collapse: collapse;
    cellspacing:0px;
    cellpadding:1px;

    width:100%;
}

td{
    font-size:25px;
}

.recordsTable{
    width:500px;
    height:300px;
    overflow:auto;
    margin-left:auto;
    margin-right:auto;
    display:inline-block;
    margin-top:50px;
}

.title{
    display: block;
    font-size:80px;
    margin-top:10px;
    font-family: Rockwell;
    color:#104e8b;
}

th, td {
    text-align: center;
    padding: 8px;
    font-family: "Agency FB";

}

th {
    background-color: #104e8b;
    color: white;
    font-size: 30px;
}

tr:nth-child(even)
{background-color: #efebe7;}

tr:nth-child(odd){
    background-color: #f9f8f7;
}

